body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-pointer-events {
  pointer-events: none;
}

.relative-position {
  position: relative;
}

.absolute-full {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.full-width {
  width: 100%
}

.full-height {
  height: 100%
}

.fit {  
  width: 100%;
  height: 100%
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis-2-lines,
.ellipsis-3-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ellipsis-2-lines {
  -webkit-line-clamp: 2;
}
.ellipsis-3-lines {
  -webkit-line-clamp: 3;
}

.break-all {
  word-break: break-all;
}

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  /* overflow: hidden; */
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "navbar main"
    "footer footer";
}

.navbar {
  grid-area: navbar;
}

.main {
  grid-area: main;
  min-height: 0;
  overflow: hidden;
  position: relative
  /* display: flex;
  flex-direction: column; */
}

.footer {
  grid-area: footer;
  overflow: hidden;
}


.List {
  border: 1px solid #e6e4dc;
  max-width: 100%;
}

.ListItemEven,
.ListItemOdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ListItemEven {
  background-color: #e6e4dc;
}

