body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ellipsis-2-lines,
.ellipsis-3-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ellipsis-2-lines {
  -webkit-line-clamp: 2;
}
.ellipsis-3-lines {
  -webkit-line-clamp: 3;
}

.break-all {
  word-break: break-all;
}

/* .widget-name h2 {
  font-size: 12px;
}

.widget-name[min-width~="400px"] h2 {
  font-size: 18px;
}

.widget-name[min-width~="600px"] h2 {
  padding: 55px;
  text-align: center;
  font-size: 24px;
}

.widget-name[min-width~="700px"] h2 {
  font-size: 34px;
  color: red;
} */